.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #333;
}

.editor-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result-container {
  text-align: left;
}

h2 {
  margin-top: 20px;
  color: #333;
}

.result-text {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.file-uploader {
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.uploaded-file-text {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
